<!--提示信息-->
<p-messages [(value)]="msgs" [closable]="true" [style]="{'position':'fixed','top': '0','margin-top': '0','width': '100vw','z-index':'9999'}"></p-messages>
<!--确认弹窗-->
<p-confirmDialog acceptLabel="确认" rejectLabel="取消"></p-confirmDialog>
<app-s-loation locationTitle="字典词条"></app-s-loation>
<div class="serarea-manage">
  <h4 class="text-center">字典词条</h4>
  <!--按钮-->
  <div class="btn-manner">
    <button class="btn btn-primary" (click)="addDialog = true">增加</button>
    <button class="btn btn-danger" type="button" (click)="deleteFirm()">删除</button>
  </div>
  <!--数据-->
  <p-table [columns]="cols" [value]="dictWords" selectionMode="multiple" [(selection)]="selectedDictWords" (onRowSelect)="onRowSelect($event)">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
  <!--增加弹框-->
  <p-dialog header="增加信息" [(visible)]="addDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="800">
    <div class="ui-g ui-fluid">
      <!--字典编码-->
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="dictionaryCode">字典编码：</label>
        </div>
        <div class="ui-g-8">
          <p-dropdown id="dictionaryCode" [options]="addDictListSelect" (onChange)="dictChange($event)" [style]="{'width':'182px'}" scrollHeight="120px" optionLabel="name" placeholder="请选择服务区..."></p-dropdown>
        </div>
      </div>
      <!--词条编码-->
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="entryCode">词条编码：</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="entryCode" [(ngModel)]="addDictWord.entryCode"/>
        </div>
      </div>
      <!--词条值-->
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="entryValue">词条值：</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="entryValue" [(ngModel)]="addDictWord.entryValue"/>
        </div>
      </div>
      <!--显示序列-->
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addentryValue">显示序列：</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="addentryValue" [(ngModel)]="addDictWord.sequence"/>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button class="btn btn-success" type="button" (click)="addsSave()">保存</button>
        <button class="btn btn-warning" type="button" (click)="addDialog=false">取消</button>
      </div>
    </p-footer>
  </p-dialog>
</div>
