<app-s-loation locationTitle="门店管理"></app-s-loation>
<!--提示信息-->
<p-messages [(value)]="msgs" [closable]="true" [style]="{'position':'fixed','top': '0','margin-top': '0','width': '100vw','z-index':'9999'}"></p-messages>
<!--确认弹窗-->
<p-confirmDialog acceptLabel="确认" rejectLabel="取消"></p-confirmDialog>
<div class="store-manage">
  <h1 class="text-center">门店管理</h1>
  <!--按钮-->
  <div class="btn-manner">
    <button class="btn btn-primary" (click)="addDialog = true">增加</button>
    <button class="btn btn-danger" type="button" (click)="deleteFirm()">删除</button>
  </div>
  <!--数据-->
  <p-table [columns]="cols" [value]="stores" selectionMode="multiple" [(selection)]="selectedstores" (onRowSelect)="onRowSelect($event)">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <!-- <th style="width: 3em">
           <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
         </th>-->
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <!-- <td>
           <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
         </td>-->
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
  <!--增加弹框-->
  <p-dialog header="增加信息" [(visible)]="addDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="800">
    <div class="ui-g ui-fluid">
      <!--区划-->
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addAreaName">所属区划：</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="addAreaName" (click)="AreaTreeClick()" [(ngModel)]="addAreaTree.label"/>
        </div>
      </div>
      <!--服务区-->
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addserviceAreaId">所属服务区：</label>
        </div>
        <div class="ui-g-8">
          <p-dropdown id="addserviceAreaId" [options]="addServicesAreas" (onChange)="serviceChange($event)" [style]="{'width':'182px'}" scrollHeight="120px" optionLabel="name" placeholder="请选择服务区..."></p-dropdown>
        </div>
      </div>
      <!--上下行-->
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addsaOrientationId">上下行：</label>
        </div>
        <div class="ui-g-8">
          <p-dropdown id="addsaOrientationId" [options]="highsdData" (onChange)="directionChange($event)" [style]="{'width':'182px'}" scrollHeight="72px" optionLabel="name" placeholder="请选择高速方向..."></p-dropdown>
        </div>
      </div>
      <!--店铺分类-->
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addstoreId">店铺分类：</label>
        </div>
        <div class="ui-g-8">
          <p-dropdown id="addstoreId" [options]="storeTypes" (onChange)="storeTypeChange($event)" [style]="{'width':'182px'}" scrollHeight="72px" optionLabel="name" placeholder="请选择店铺类型..."></p-dropdown>
        </div>
      </div>
      <!--合同开始日期-->
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="contractStartDate">合同开始日期：</label>
        </div>
        <div class="ui-g-8">
          <!--<input pInputText type="number" id="addfoundDate" [(ngModel)]="addCompany.foundDate" />-->
          <p-calendar id="contractStartDate" [style]="{'width': '80%'}" (onSelect)="timeOnSelect($event, 'contractStartDate')" placeholder="请点击选择时间......" [monthNavigator]="true" [yearNavigator]="true" yearRange="1980:2030" dateFormat="yy-mm-dd"></p-calendar>
        </div>
      </div>
      <!--合同到期日期-->
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="contractExpirationDate">合同到期日期：</label>
        </div>
        <div class="ui-g-8">
          <!--<input pInputText type="number" id="addfoundDate" [(ngModel)]="addCompany.foundDate" />-->
          <p-calendar id="contractExpirationDate" [style]="{'width': '80%'}" (onSelect)="timeOnSelect($event, 'contractExpirationDate')" placeholder="请点击选择时间......" [monthNavigator]="true" [yearNavigator]="true" yearRange="1980:2030" dateFormat="yy-mm-dd"></p-calendar>
        </div>
      </div>
      <!--经营状态-->
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addvideoUrl">经营状态：</label>
        </div>
        <div class="ui-g-8">
          <p-radioButton id="addenabled" name="group1" value="1" [(ngModel)]="addStore.operateStatus" label="营业" inputId="opt2"></p-radioButton>
          <p-radioButton id="addenabled" name="group1" value="2" [(ngModel)]="addStore.operateStatus" label="停业" inputId="opt3"></p-radioButton>
          <p-radioButton id="addenabled" name="group1" value="3" [(ngModel)]="addStore.operateStatus" label="关闭" inputId="opt3"></p-radioButton>
          <p-radioButton id="addenabled" name="group1" value="4" [(ngModel)]="addStore.operateStatus" label="其他" inputId="opt3"></p-radioButton>
        </div>
      </div>
      <!--经营状态改变日期-->
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="statusChangeDate">经营状态改变日期：</label>
        </div>
        <div class="ui-g-8">
          <p-calendar id="statusChangeDate" [style]="{'width': '80%'}" (onSelect)="timeOnSelect($event, 'statusChangeDate')" placeholder="请点击选择时间......" [monthNavigator]="true" [yearNavigator]="true" yearRange="1980:2030" dateFormat="yy-mm-dd"></p-calendar>
        </div>
      </div>
      <!--收银分类-->
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addvideoUrl">收银分类：</label>
        </div>
        <div class="ui-g-8">
          <p-radioButton id="addenabled" name="group1" value="1" [(ngModel)]="addStore.cashierType" label="自备" inputId="opt2"></p-radioButton>
          <p-radioButton id="addenabled" name="group1" value="2" [(ngModel)]="addStore.cashierType" label="统一" inputId="opt3"></p-radioButton>
          <p-radioButton id="addenabled" name="group1" value="3" [(ngModel)]="addStore.cashierType" label="其他" inputId="opt3"></p-radioButton>
        </div>
      </div>
      <!--店铺编码-->
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addstoreCode">店铺编码：</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="addstoreCode" [(ngModel)]="addStore.storeCode"/>
        </div>
      </div>
      <!--店铺名称-->
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addstoreName">店铺名称：</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="addstoreName" [(ngModel)]="addStore.storeName"/>
        </div>
      </div>
      <!--电费账号-->
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="electricityAccount">电费账号：</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="electricityAccount" [(ngModel)]="addStore.electricityAccount"/>
        </div>
      </div>
      <!--水费账号-->
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addwaterAccount">水费账号：</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="addwaterAccount" [(ngModel)]="addStore.waterAccount"/>
        </div>
      </div>
      <!--建组面积-->
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addbuildAera">建组面积：</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="addbuildAera" [(ngModel)]="addStore.buildAera"/>
        </div>
      </div>
      <!--实用面积-->
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addusableArea">实用面积：</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="addusableArea" [(ngModel)]="addStore.usableArea"/>
        </div>
      </div>
      <!--行业编码-->
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addindustryCode">行业编码：</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="addindustryCode" [(ngModel)]="addStore.industryCode"/>
        </div>
      </div>
      <!--行业名称-->
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addindustryName">行业名称：</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="addindustryName" [(ngModel)]="addStore.industryName"/>
        </div>
      </div>
      <!--负责人姓名-->
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addprincipal">负责人姓名：</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="addprincipal" [(ngModel)]="addStore.principal"/>
        </div>
      </div>
      <!--负责人电话-->
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="principalMobile">负责人电话：</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="principalMobile" [(ngModel)]="addStore.principalMobile"/>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button class="btn btn-success" type="button" (click)="addsSave()">保存</button>
        <button class="btn btn-warning" type="button" (click)="addDialog=false">取消</button>
      </div>
    </p-footer>
  </p-dialog>
  <!--区域弹框-->
  <p-dialog header="请选择区域" [(visible)]="areaDialog" [responsive]="true" showEffect="fade" [maximizable]="true" [baseZIndex]="10000" [modal]="true" [width]="300" [height]="400">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <!--(onNodeUnselect)="nodeUnselect($event)"-->
        <p-scrollPanel [style]="{width: '100%', height: '300px'}">
          <p-tree
            [value]="addAreaTrees"
            selectionMode="single"
            [(selection)]="addAreaTree"
            (onNodeSelect)="treeOnNodeSelect($event)"
          >
          </p-tree>
        </p-scrollPanel>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button class="btn btn-success" type="button" (click)="treeSelectAreaClick()">确定</button>
        <button class="btn btn-warning" type="button" (click)="areaDialog=false">取消</button>
      </div>
    </p-footer>
  </p-dialog>
</div>
