<div class="btn-manner">
  <button class="btn btn-primary" (click)="addClick()">增加</button>
  <button class="btn btn-success">修改</button>
  <button class="btn btn-danger">删除</button>
  <div class="pull-right">
    <div class="ui-inputgroup">
      <button label="Search"  type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
        <span class="ui-button-text ui-clickable">搜索 </span>
      </button>
      <input placeholder="请输入关键字..." type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
    </div>
   <!-- <label for="search"></label>
    <input type="text" id="search" name="search" placeholder="请输入关键字">
    <button class="btn">搜索</button>-->
  </div>
</div>

