.produtionsensor{
  background-color: #e9e9e9;
  color: #000000;
  padding: 14px;
  border-radius: 5px;
}
.produtionsensor > .container-fluid{
  padding-bottom: 15px;
  border:1px #9a9a9a solid;
}
.content > .col-xs-12{
  padding-left: 0px;
  padding-right: 0px;
}
.index{
  height: 30px;
  line-height: 30px;
  background-color: #ffffff;
}
.modal-body > form > div{
  margin-bottom: 5px;
}
.table-responsive{
  font-size: 14px;
}
.table > thead > tr >  th {
  background-color: #048992;
  color: #ffffff;
}
.table > tbody > tr > td {
  background-color: rgba(37,165,255,.1);
  color: #333333;
  border-bottom: 2px solid #b8b8b8;
}
.table > thead > tr > .checkboxoption {
  width: 10vw;
}
.pagination > li > a {
  background-color: #d9dcde;
  margin-right: 1vw;
  border: 1px solid #f1f1f1;
  color: #333333;
}
.pagination > li > a:hover{
  background-color: #048992;
}
.pagination > li > a > input{
  width: 3.5vw;
}
.glyphicon{
  margin-right: 1vw;
}
.modal-body{
  padding: 25px;
}
.hasError{
  border: 1px red solid;
}

.status{
  padding: 15px;
  width: 280px;
  height: 45px;
  position: fixed;
  top: 20px;
  left: 45%;
  color: #FFFFFF;
  border-radius: 3px;
  z-index: 1100;
}
.success{
  background: rgba(0,128,125,0.7);
  box-shadow: 2px -2px 2px rgba(0,128,125,0.7) inset;
  border: 1px #008069 solid;
}
.fail{
  background: rgba(200,0,0,0.7);
  box-shadow: 2px -2px 2px rgba(200,0,0,0.9) inset;
  border: 1px #c30000 solid;
}
.remind{
  color: red;
}
