<!--提示信息-->
<p-messages [(value)]="msgs" [closable]="true" [style]="{'position':'fixed','top': '0','margin-top': '0','width': '100vw','z-index':'9999'}"></p-messages>
<!--确认弹窗-->
<p-confirmDialog acceptLabel="确认" rejectLabel="取消"></p-confirmDialog>
<app-s-loation locationTitle="角色管理"></app-s-loation>
<div class="user-manage">
  <h4 class="text-center">角色管理</h4>
  <!--按钮-->
  <div class="btn-manner">
    <button class="btn btn-primary" (click)="addDialog = true">增加</button>
    <button class="btn btn-danger" type="button" (click)="deleteFirm()">删除</button>
  </div>
  <!--数据-->
  <p-table [columns]="cols" [value]="roles" selectionMode="multiple" [(selection)]="selectedRoles" (onRowSelect)="onRowSelect($event)">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
  <!--增加弹框-->
  <p-dialog header="增加信息" [(visible)]="addDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="800">
    <div class="ui-g ui-fluid">
      <!--角色编码-->
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="roleCode">角色编码：</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="roleCode" [(ngModel)]="addRole.roleCode"/>
        </div>
      </div>
      <!--角色名称-->
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="roleName">角色名称：</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="roleName" [(ngModel)]="addRole.roleName"/>
        </div>
      </div>
      <!--角色描述-->
      <div class="ui-g-12">
        <div class="ui-g-2">
          <label for="description">角色描述：</label>
        </div>
        <div class="ui-g-9">
          <textarea id="description" [(ngModel)]="addRole.description" rows="5" cols="70" pInputTextarea></textarea>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button class="btn btn-success" type="button" (click)="addsSave()">保存</button>
        <button class="btn btn-warning" type="button" (click)="addDialog=false">取消</button>
      </div>
    </p-footer>
  </p-dialog>
</div>
