<div class="button-group">
  <button pButton type="button" label="添加" class="ui-button-rounded"></button>
  <button pButton type="button" label="删除" class="ui-button-rounded ui-button-secondary"></button>
  <button pButton type="button" label="修改" class="ui-button-rounded ui-button-success"></button>
  <button pButton type="button" label="查询" class="ui-button-rounded ui-button-info"></button>
</div>

<p-table [value]="cars">
  <ng-template pTemplate="header">
    <tr>
      <th>Vin</th>
      <th>Year</th>
      <th>Brand</th>
      <th>Color</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-car>
    <tr>
      <td>{{car.vin}}</td>
      <td>{{car.year}}</td>
      <td>{{car.brand}}</td>
      <td>{{car.color}}</td>
    </tr>
  </ng-template>
</p-table>
