<app-s-loation locationTitle="用户管理"></app-s-loation>
<!--提示信息-->
<p-messages [(value)]="msgs" [closable]="true" [style]="{'position':'fixed','top': '0','margin-top': '0','width': '100vw','z-index':'9999'}"></p-messages>
<!--确认弹窗-->
<p-confirmDialog acceptLabel="确认" rejectLabel="取消"></p-confirmDialog>
<div class="user-manage">
  <h1 class="text-center">用户管理</h1>
  <!--按钮-->
  <div class="btn-manner">
    <button class="btn btn-primary" (click)="addDialog = true">增加</button>
  </div>
  <!--数据-->
  <p-table [columns]="cols" [value]="users" selectionMode="multiple" [(selection)]="selectedUsers" (onRowSelect)="onRowSelect($event)">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
  <!--增加弹框-->
  <p-dialog header="增加信息" [(visible)]="addDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="800">
    <div class="ui-g ui-fluid">
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addorganizationName">所属公司：</label>
        </div>
        <div class="ui-g-8">
          <p-dropdown id="addorganizationName" [options]="addCompanySelect" (onChange)="companyChange($event)" [style]="{'width':'182px'}" scrollHeight="120px" optionLabel="name" placeholder="请选择所属公司..."></p-dropdown>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="adddeptName">所属部门：</label>
        </div>
        <div class="ui-g-8">
          <p-dropdown id="adddeptName" [options]="addOrgSelect" (onChange)="orgsChange($event)" [style]="{'width':'182px'}" scrollHeight="120px" optionLabel="name" placeholder="请选择所属部门..."></p-dropdown>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addbirthday">生日：</label>
        </div>
        <div class="ui-g-8">
          <p-calendar id="addbirthday" [style]="{'width': '80%'}" (onSelect)="timeOnSelect($event)" placeholder="请点击选择时间......" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2020" dateFormat="yy-mm-dd"></p-calendar>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="adddutyName">请选择职务：</label>
        </div>
        <div class="ui-g-8">
          <p-dropdown id="adddutyName"  [style]="{'width':'182px'}" scrollHeight="120px" optionLabel="name" placeholder="请选择职位..."></p-dropdown>
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addrealName">请输入姓名：</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="addrealName"  [(ngModel)]="addUser.realName" />
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="adduserName">用户名：</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="adduserName"  [(ngModel)]="addUser.userName" />
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addtelNumber">电话号码：</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="addtelNumber"  [(ngModel)]="addUser.telNumber" />
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addemail">邮箱：</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="addemail"  [(ngModel)]="addUser.email" />
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addaddress">地址：</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="addaddress"  [(ngModel)]="addUser.address" />
        </div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="addaddress">性别：</label>
        </div>
        <div class="ui-g-8">
          <p-radioButton name="group1" value="1" label="男" [(ngModel)]="addUser.gender" inputId="opt2"></p-radioButton>
          <p-radioButton name="group1" value="2" label="女" [(ngModel)]="addUser.gender" inputId="opt3"></p-radioButton>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-2">
          <label for="addremark">备注：</label>
        </div>
        <div class="ui-g-9">
          <textarea id="addremark" [(ngModel)]="addUser.remark" rows="5" cols="50" pInputTextarea></textarea>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button class="btn btn-success" type="button" (click)="addsSave()">保存</button>
        <button class="btn btn-warning" type="button" (click)="addDialog=false">取消</button>
      </div>
    </p-footer>
  </p-dialog>
</div>
