<app-s-loation locationTitle="用户管理"></app-s-loation>
<div class="user-manage">
  <h1 class="text-center">用户管理</h1>
  <app-s-button (clickEvent)="addPersonWindow()"></app-s-button>
  <p-table [value]="persons" [columns]="cols">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          <p-checkbox name="group1" [(ngModel)]="selectedCities" inputId="quanxian" *ngIf="col.field === 'checkbox'"></p-checkbox>
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car>
      <tr>
        <td>
          <p-checkbox name="group1" [(ngModel)]="selectedCities" inputId="ny"></p-checkbox>
        </td>
        <td>{{car.id}}</td>
        <td>{{car.name}}</td>
        <td>{{car.position}}</td>
        <td>{{car.phone}}</td>
        <td>{{car.email}}</td>
        <td>{{car.department}}</td>
        <td>{{car.remark}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog header="添加用户" [(visible)]="display" [modal]="true"
          [responsive]="true"  [width]="1000" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000">
  <form [formGroup]="userForm" (ngSubmit)="addUser()" class="form-horizontal" role="form" novalidate>
    <div class="form-group" [ngClass]="{'has-error': formErrors.name }">
      <label class="col-sm-3 control-label">姓名</label>
      <div class="col-sm-8">
        <input formControlName="name" type="text" class="form-control" placeholder="请输入姓名">
        <div *ngIf="formErrors.name" class="text-danger">
          {{ formErrors.name }}
        </div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{'has-error': formErrors.position }">
      <label class="col-sm-3 control-label">职位</label>
      <div class="col-sm-8">
        <input formControlName="position" type="text" class="form-control" placeholder="职位">
        <div *ngIf="formErrors.position" class="text-danger">
          {{ formErrors.position }}
        </div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{'has-error': formErrors.phone }">
      <label class="col-sm-3 control-label">电话</label>
      <div class="col-sm-8">
        <input formControlName="phone" reverse=true type="text" class="form-control" placeholder="请输入电话">
        <div *ngIf="formErrors.phone" class="text-danger">
          {{ formErrors.phone }}
        </div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{'has-error': formErrors.email }">
      <label class="col-sm-3 control-label">邮箱</label>
      <div class="col-sm-8">
        <input formControlName="email" type="email" class="form-control" placeholder="请输入邮箱">
        <div *ngIf="formErrors.email" class="text-danger">
          {{ formErrors.email }}
        </div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{'has-error': formErrors.department }">
      <label class="col-sm-3 control-label">请输入部门</label>
      <div class="col-sm-8">
        <input formControlName="department"  type="text" class="form-control" placeholder="请输入部门">
        <div *ngIf="formErrors.department" class="text-danger">
          {{ formErrors.department }}
        </div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{'has-error': formErrors.remark }">
      <label class="col-sm-3 control-label">备注</label>
      <div class="col-sm-8">
        <input formControlName="remark" type="text" class="form-control" placeholder="请输入备注">
        <div *ngIf="formErrors.remark" class="text-danger">
          {{ formErrors.remark }}
        </div>
      </div>
    </div>
    <div *ngIf="formErrors.formError" class="col-sm-offset-3 col-sm-8 alert alert-danger">{{ formErrors.formError }}</div>
  </form>
  <p-footer>
    <button type="submit" class="btn btn-primary" (click)="addUser()" >确定</button>
    <button type="button"  class="btn btn-danger" (click)="display=false">取消</button>
  </p-footer>
</p-dialog>


