.title{
  display: inline-block;
  width: 200px;
  line-height: 64px;
  color: #E8EAF6;
  margin-left: 5vw;
}
.title .fa-navicon{
  cursor:pointer;
  font-size: 24px;
  font-weight: bold;
  line-height: 64px;
}
.title>img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #000;
  overflow: hidden;
  cursor: pointer;
}

.user{
  height: 64px;
}
.user .user-search{
  display: inline-block;
  height: 64px;
  line-height: 64px;
}
.user .user-ul li{
  list-style: none;
  display: inline-block;
  height: 64px;
  line-height: 64px;
  font-size: 20px;
  margin-right: 15px;
}
.user .user-ul li input{
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  font-size: 14px;
  height: 22px;
  width: 150px
}
.user .user-ul li input:focus{
   /*border-color: transparent;*/
}

/*公共样式*/
input::placeholder{
  color: white;
}

/*bootstrap改造*/
.container-fluid{
  padding-left: 0;
}
.navbar{
  border-radius: 0;
  background-color: rgb(96,125,139);
  box-shadow: 2px 0 3px rgba(0,0,0,.7);
  height: 64px;
  color: white;
  border: none;
  padding-left: 15px;
}
.navbar-header{
  float: none;
}

