<app-s-loation locationTitle="收银机管理"></app-s-loation>
<div class="video-manage">
  <h4 class="text-center">收银机管理</h4>
  <app-s-button (clickEvent)="addCashWindow()"></app-s-button>
  <!--<p-table [value]="videos">
    <ng-template pTemplate="header">
      <tr>
        <th>
          <p-checkbox name="group1" [(ngModel)]="selectedVideo" inputId="quanxian"></p-checkbox>
          全选/全不选
        </th>
        <th>视频ID</th>
        <th>视频编号</th>
        <th>监视器位置</th>
        <th>视频位置</th>
        <th>视屏源地址</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-video>
      <tr>
        <td>
          <p-checkbox name="group1" [(ngModel)]="selectedVideo" inputId="ny"></p-checkbox>
        </td>
        <td>{{video.id}}</td>
        <td>{{video.videoNumber}}</td>
        <td>{{video.windowPosition}}</td>
        <td>{{video.videoPosition}}</td>
        <td>{{video.videoUrl}}</td>
      </tr>
    </ng-template>
  </p-table>-->
</div>


