<div class="container-fluid">
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-9" >
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="center-left-top">
            <div class="center-left-top-title">
              <span>一号监视口</span>
              <span class="pull-right">{{videoLocation1}}</span>
            </div>
            <div class="center-left-top-video" id="window1">
             <!-- <object type='application/x-vlc-plugin' id='video1' width="100%" height="100%" events='True'
                      pluginspage="http://www.videolan.org"
                      codebase="http://downloads.videolan.org/pub/videolan/vlc-webplugins/2.0.6/npapi-vlc-2.0.6.tar.xz">
                <param name='volume' value='50' />
                <param name='autoplay' value='true' />
                <param name='loop' value='false' />
                <param value="transparent" name="wmode">
                <embed id='vlc1' wmode="transparent" type="application/x-vlc-plugin" width="100%" height="100%"
                       pluginspage="http://www.videolan.org" allownetworking="internal" allowscriptaccess="always" quality="high"
                       src="{{videoUrl1}}">
              </object>-->
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="center-left-top">
            <div class="center-left-top-title">
              <span>二号监视口</span>
              <span class="pull-right">{{videoLocation2}}</span>
            </div>
            <div class="center-left-top-video" id="window2">
             <!--<object type='application/x-vlc-plugin' id='video2' width="100%" height="100%" events='True'
                      pluginspage="http://www.videolan.org"
                      codebase="http://downloads.videolan.org/pub/videolan/vlc-webplugins/2.0.6/npapi-vlc-2.0.6.tar.xz">
                <param name='mrl' value='{{videoUrl2}}' />
                <param name='volume' value='50' />
                <param name='autoplay' value='true' />
                <param name='loop' value='false' />
                <param value="transparent" name="wmode">
                <embed id='vlc2' wmode="transparent" type="application/x-vlc-plugin" width="100%" height="100%"
                       pluginspage="http://www.videolan.org" allownetworking="internal" allowscriptaccess="always" quality="high"
                       src="{{videoUrl2}}">
              </object>-->
            </div>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="center-left-top">
            <div class="center-left-top-title">
              <span>三号监视口</span>
              <span class="pull-right">{{videoLocation3}}</span>
            </div>
            <div class="center-left-top-video" id="window3">
             <!-- <object type='application/x-vlc-plugin' id='video3' width="100%" height="100%" events='True'
                      pluginspage="http://www.videolan.org"
                      codebase="http://downloads.videolan.org/pub/videolan/vlc-webplugins/2.0.6/npapi-vlc-2.0.6.tar.xz">
                <param name='mrl' value='{{videoUrl3}}' />
                <param name='volume' value='50' />
                <param name='autoplay' value='true' />
                <param name='loop' value='false' />
                <param value="transparent" name="wmode">
                <embed id='vlc3' wmode="transparent" type="application/x-vlc-plugin" width="100%" height="100%"
                       pluginspage="http://www.videolan.org" allownetworking="internal" allowscriptaccess="always" quality="high"
                       src="{{videoUrl3}}">
              </object>-->
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="center-left-top">
            <div class="center-left-top-title">
              <span>四号监视口</span>
              <span class="pull-right">{{videoLocation4}}</span>
            </div>
            <div class="center-left-top-video" id="window4">
              <!--<object type='application/x-vlc-plugin' id='video4' width="100%" height="100%" events='True'
                      pluginspage="http://www.videolan.org"
                      codebase="http://downloads.videolan.org/pub/videolan/vlc-webplugins/2.0.6/npapi-vlc-2.0.6.tar.xz">
                <param name='mrl' value='{{videoUrl4}}' />
                <param name='volume' value='50' />
                <param name='autoplay' value='true' />
                <param name='loop' value='false' />
                <param value="transparent" name="wmode">
                <embed id='vlc4' wmode="transparent" type="application/x-vlc-plugin" width="100%" height="100%"
                       pluginspage="http://www.videolan.org" allownetworking="internal" allowscriptaccess="always" quality="high"
                       src="{{videoUrl4}}">
              </object>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <div style='border: 2px solid #EFF3F4;padding: 10px'>
        <tree [tree]="tree" (nodeSelected)="logEvent($event)"></tree>
      </div>
    </div>
  </div>
</div>

